@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%); 
    --soft-pink: hsl(333, 80%, 67%); 
    --dark-grayish-magenta: hsl(303, 10%, 53%); 
    --light-grayish-magenta: hsl(300, 24%, 96%); 
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

.container {
    height: 100vh;
    position: relative;
    padding: 100px;
}

#bg-top {
    position: absolute;
    top: 0; 
    left: 0;
}

#bg-bottom {
    position: absolute;
    bottom: 0; 
    right: 0;
}

.container-main-info-and-ratings {
    display: grid; 
    grid-template-columns: 30% 70%;
    grid-gap: 8rem;
}

.container-main-info-and-ratings .main-info .title {
    font-size: 40px;
    font-weight: 700;
    color: var(--very-dark-magenta);
    margin-bottom: 20px;
}

.container-main-info-and-ratings .main-info .subtitle {
    line-height: 1.4rem;
    color: var(--dark-grayish-magenta);
}

.container-main-info-and-ratings .ratings .rating {
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--very-dark-magenta);
    font-weight: 500;
    padding: 15px;
    margin: 20px;
    background-color: var(--light-grayish-magenta);
    border-radius: 5px;
}

.container-main-info-and-ratings .ratings .rating .stars {
    margin: 0 20px 0 0;
}

.container-main-info-and-ratings .ratings .rating .stars img {
    padding: 2px;
}

.container-main-info-and-ratings .ratings > *:nth-child(2) {
    margin-left: 50px;
}

.container-main-info-and-ratings .ratings > *:nth-child(3) {
    margin-left: 80px;
}

.container-testimonials {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 60px;
}

.container-testimonials > *:nth-child(1) {
    height: 180px;
}

.container-testimonials > *:nth-child(2) {
    margin-top: 10px;
    height: 180px;
}

.container-testimonials > *:nth-child(3) {
    margin-top: 20px;
    height: 180px;
}

.container-testimonials .testimonial {
    padding: 30px;
    color: var(--light-grayish-magenta);
    background-color: var(--very-dark-magenta);
    border-radius: 10px;
}

.container-testimonials .testimonial .main-info-person {
    display: flex; 
    line-height: 1rem;
    margin-bottom: 20px;
}

.container-testimonials .testimonial .main-info-person img {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    border-radius: 50%;
}

.container-testimonials .testimonial .main-info-person .name {
    font-weight: 400;
}

.container-testimonials .testimonial .main-info-person .verified-buyer {
    color: var(--soft-pink);
}

.container-testimonials .testimonial .quotation {
    line-height: 1.1rem;
}

/* responsive design for tablets */

@media(max-width: 1100px) {
    .container-main-info-and-ratings {
        grid-gap: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-main-info-and-ratings .ratings > *:nth-child(1),
    .container-main-info-and-ratings .ratings > *:nth-child(2),
    .container-main-info-and-ratings .ratings > *:nth-child(3) {
        margin-left: 0;
    }

    .container-testimonials {
        display: flex; 
        flex-direction: column;
        margin-top: 20px;
    }
    
    .container-testimonials > *:nth-child(2),
    .container-testimonials > *:nth-child(3) {
        margin-top: 0;
    }

    .container-testimonials > *:nth-child(3) {
        margin-bottom: 30px;
    }
}

/* responsive design for smartphones */

@media(max-width: 500px) {
    .container {
        padding: 30px;
    }
}